:root {
  --bg-light: #ececec;
  --main-color: rgb(177, 192, 196); 
  --alt: #7AB4C2; 
}
* {
  box-sizing: border-box;
}
body {
  background-color:var(--bg-light);  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}
.fas, .fab {
  margin: 0 5px;
  font-size: 1.2em;
}

html {
  line-height: 1.2;
  letter-spacing: .03em;
  scroll-behavior: smooth;
}
#welcome {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.brand svg {
  height: 18px;
}
#about, #projects, #contact, main {
  margin: 0 auto;  
  /* width: 90%;   */
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#about img {
  border-radius: 50%;
  margin-top: 2em;
  max-width: 150px;
}

#about h1 {
  font-size: 2.5em;  
}
#about p {
  font-size: 1.3em;
  margin: 0.2em;
}

.buttons a {
  background-color: var(--main-color);
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  font-size: 1.4em;
  flex-direction: column;
  margin: 0.8em auto;
  outline: none;
  padding: 10px 35px;
  text-align: center;
}

.buttons a:hover {
  cursor: pointer;
}

.contact-links {  
  margin-top: 15px;
  font-size: 1.4em;
}

footer {
  font-size: 0.8em;
  margin-top: 1em;
  padding: 15px;
}
footer > *:not(:last-child)::after {
  content: "•";
  padding: 0 5px;
}