@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --bg-light: #c0bfbf;
  --main-color: rgb(62, 125, 145); 
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--bg-light);
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Roboto", "Segoe UI", Helvetica, Arial, sans-serif;
  font-display: auto;
  font-size: 1rem;
  line-height: 1.54;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: justify;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
}
.inner {
  display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 760px;
    max-width: 100%;
}
.navbar {
  align-items: center;
  background-color:rgb(105, 105, 105);
  display: flex;
  justify-content: space-between;  
  position: sticky;
  top:0;
  width: 760px;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #000;  
}
a:visited {
  border-bottom: 0;
}
.navbar ul {
  display: flex;
  padding: 0;
  list-style: none;
  margin: 0 auto;
  
  /* margin-left: 50%;
  max-width: 240px; */
  justify-content: space-evenly;
}
.navbar ul li {
  padding: 5px;
}
.brand {
  
}
section {
  width: 95%;
  margin: auto;
  max-width: 350px;
}

#about {
  height: 100%;
  margin: 50% auto;
}

#about article {
  margin-top: 10em;
}

#about ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#contact {
  height: 100%;
  margin: 70% auto;
}

a:active{ 
  border-bottom: 2px solid var(--main-color);
}
.active {
  border-bottom: 2px solid var(--main-color);
}

.project-card {
  border-bottom: 2px solid grey;
  margin: 15px auto;  
}

.project-card img {
  width: 98%; 
}
.project-title {
  border-radius: 5px;
  background-color: var(--main-color);
  padding: 15px;
}

.project-links {
  margin-bottom: 10px;
}
#projects h2 {
  margin-top: 65px;
}
.contact-links {
  font-size: 2em;
}
.fas, .fab {
  font-size: 1.1em;
}

/* @media(min-width: 500px) {
  #about {
    margin: 15% auto;
  }
  #about article {
    margin-top: 1em;
  }
  #contact {
    margin: 55% auto;
  }
}

@media(min-width: 700px) {
  .container {
    text-align: left;
    margin: 0 auto;
    width: 80%;
  }
  nav ul {
    margin-left: 60%;
  }
} */